<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC</title>
</head>
<body>
  <% if (message) { %>
    <div><%= message %></div>
  <% } %>
  <form action="/authors" method="POST">
    <label for="first_name">Nome:</label>
    <input id="first_name" name="first_name" type="text" />
    <label for="middle_name">Nome do meio:</label>
    <input id="middle_name" name="middle_name" type="text" />
    <label for="last_name">Sobrenome:</label>
    <input id="last_name" name="last_name" type="text" />
    <button type="submit">Criar novo autor!</button>
  </form>
  <a href="/authors">Voltar para página inicial</a>
</body>
</html>
